*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height:100%;


}
.container{
    display: grid;
    height: 100%;
    grid-template-areas:
     "header header header header header"
    ". main main main sidebar"
    "footer footer footer footer footer";
}
header{
    grid-area: header;
    font-size: 5em;
    background-color: blue;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
.sidebar{
    grid-area: sidebar;
}